#!/bin/sh

export NODE_ENV="development"

export BING_SEARCH_HOST="api.search.live.net"
export BING_SEARCH_PATH="/json.aspx"
export BING_SEARCH_APP_ID=""

export YAHOO_SEARCH_HOST="search.yahooapis.jp"
export YAHOO_SEARCH_PATH="/PremiumWebSearchService/V1/webSearch"
export YAHOO_SEARCH_APP_ID=""

export PGSQL_DB="newgle"
export PGSQL_USER="mahata"
export PGSQL_PASS=""
export PGSQL_HOST="localhost"
export PGSQL_PORT="5432"

export SECRET_KEY="development key"
export STRETCH_TIMES="10000"
export SERVICE_DOMAIN="localhost:3000"
