div(id="head-line")!= partial("include/head-line.jade")

div(id="main")
  div(id="head-logo")!= partial("include/head-logo.jade")

  h2 設定変更

  p
    - if (err || 0 == result.rowCount)
      p 設定変更に失敗しました。
    - else
      p 設定変更に成功しました!

