div(id="head-line")!= partial("include/head-line.jade")

div(id="main")
  div(id="head-logo")!= partial("include/head-logo.jade")

  h2 設定

  div(id="config")
    table
      tbody
        div(id="message")
        tr
          td
            検索エンジン
          td
            ul
              li
                input(id="bing", class="search-engine", name="search-engine", type="radio", value="bing")
                label(for="bing") &nbsp;Bing
              li
                input(id="yahoo", class="search-engine", name="search-engine", type="radio", value="yahoo")
                label(for="yahoo") &nbsp;Yahoo!
        tr
          td
            サムネイル
          td
            ul
              li
                input(id="on", class="display-thumbnail", name="display-thumbnail", type="radio", value="on")
                label(for="on") &nbsp;表示する
              li
                input(id="off", class="display-thumbnail", name="display-thumbnail", type="radio", value="off")
                label(for="off") &nbsp;表示しない
        tr
          td(cols="2")
            input(id="return", type="submit", value="戻る")
