div(id="head-line")!= partial("include/head-line.jade")

div(id="main")
  div(id="head-logo")!= partial("include/head-logo.jade")

  h2 ログイン

  p
    - if (err || 0 == result.rowCount)
      p ログインに失敗しました。
    - else
      p ログインに成功しました!
      p
        | こんにちは、
        strong #{name}
        | &nbsp;さん。
