div(id="head-line")!= partial("include/head-line.jade")

div(id="main")
  div(id="head-logo")!= partial("include/head-logo.jade")

  h2 ログイン

  div(id="signup")
    // p!= partial('includes/foo.jade')
    form(method="POST")
      table
        tbody
          tr
            td
              ユーザ名
            td
              input(autofocus, name="name", placeholder="ユーザ名", type="text")
          tr
            td
              パスワード
            td
              input(name="pass", placeholder="パスワード", type="password")
          tr
            td(cols="2")
              input(type="submit", value="ログイン")
