//- h1= title

table
  tbody
    tr
      td
        img(src="/images/newgle-small.png", alt="logo")
      td
        form#form(onsubmit="search(); return false;")
          input#text(type="text", id="q", size="48", placeholder="検索クエリ", autofocus="on")
          input(type="submit", value="検索")

hr(id="separator")

div
  ul(id="search-region") 

