table
  tbody
    tr
      td
        a(href="/")
          img(src="/images/newgle-small.png", alt="logo")

h2 ユーザ登録

p
  - if (err)
    p ユーザ登録に失敗しました。
    p #{err.code}, #{err.message}
  - else
    p ユーザ登録に成功しました!
    p
      | こんにちは、
      strong #{name}
      | &nbsp;さん。

