table
  tbody
    tr
      td
        a(href="/")
          img(src="/images/newgle-small.png", alt="logo")
      - if ('undefined' !== typeof(searchBox))
        td
          form#form(onsubmit="location.hash = \"#q=\" + $(\"#q\").val() + \"&p=1\"; return false;")
            input#text(type="text", id="q", size="48", placeholder="検索クエリ", autofocus="on")
            input(type="submit", value="検索")
