body {
    padding: 5px 0px 50px 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    // color: #00b7ff;
}

a:visited {
    color: #cc6464;
}

a:hover {
    color: #10c7ff;
}

a.search-result-cache {
    text-decoration: none;
}

h2.search-result-title {
    font-size: 1.4em;
    margin: 0px;
}

div.search-result {
    width: 99%;
    // margin-left:auto;
    // margin-right:auto;
    padding-bottom: 10px;
}

div.search-result-left {
    width: 140px;
    float: left;
}

div.search-result-right {
    margin-left: 140px;
}

div.search-result-subtle-info {
    font-size: small;
}

p.search-result-desc {
    margin: 0px;
}

span.search-result-disp-url {
    color: #0e774a;
}

ul.search-result-deep-link {
    font-size: small;
}

hr#separator {
    // border: 1px dashed #000000;
}

div#search-summary {
    width: 99%;
    text-align: right;
    padding: 3px 0px 3px;
    border-top-style: ridge;
    border-top-width: thin;
    border-radius: 10px;
    background-color: #ddf;
    display: none;
}

div#search-pager {
    width: 99%;
    text-align: center;
}

div#bing-logo {
    display: none;
}
