body {
    padding: 5px 0px 50px 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

img {
    border: 0px;
}

a {
}

a:visited {
    color: #cc6464;
}

a:hover {
    color: #10c7ff;
}

a.search-result-cache {
    text-decoration: none;
}

h2.search-result-title {
    font-size: 1.2em;
    margin: 0px;
}

div.search-result {
    width: 100%;
    padding-bottom: 10px;
}

div.search-result-left {
    width: 140px;
    float: left;
}

div.search-result-right {
    margin-left: 140px;
}

div.search-result-subtle-info {
    font-size: small;
}

p.search-result-desc {
    margin: 2px 0px 0px 0px;
}

span.search-result-disp-url {
    color: #0e774a;
}

ul.search-result-deep-link {
    margin-top: 2px;
    font-size: small;
}

#search-region {
    padding-left: 5px;
}

#search-region > li {
    list-style-type: none;
}

div#search-summary {
    width: 100%;
    text-align: right;
    padding: 3px 0px 3px;
    border-top-style: ridge;
    border-top-width: thin;
    border-radius: 10px;
    background-color: #ddf;
    display: none;
}

div#search-pager {
    width: 100%;
    text-align: center;
}

div#bing-logo {
    display: none;
}
